In [1]:
import pandas as pd 
from sqlalchemy import create_engine, text

In [2]:
engine = create_engine('postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db')

In [3]:
query = 'SELECT * FROM orders'

In [4]:
s_settings_df = pd.DataFrame(engine.connect().execute(text(query)))
s_settings_df

        order_id             order_date  order_customer_id     order_status
0              1  2013-07-25 00:00:00.0              11599           CLOSED
1              2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2              3  2013-07-25 00:00:00.0              12111         COMPLETE
3              4  2013-07-25 00:00:00.0               8827           CLOSED
4              5  2013-07-25 00:00:00.0              11318         COMPLETE
...          ...                    ...                ...              ...
206644     68879  2014-07-09 00:00:00.0                778         COMPLETE
206645     68880  2014-07-13 00:00:00.0               1117         COMPLETE
206646     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
206647     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
206648     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[206649 rows x 4 columns]