In [1]:
import pandas as pd

In [2]:
conn_url = 'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [3]:
conn_url

'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [4]:
pd.read_sql('orders',conn_url)

Empty DataFrame
Columns: [order_id, order_date, order_customer_id, order_status]
Index: []

In [5]:
query = '''
    SELECT order_status, count(*) as order_count
    FROM orders
    GROUP BY 1
    ORDER BY 2 desc
'''

In [6]:
pd.read_sql(query,conn_url)

Empty DataFrame
Columns: [order_status, order_count]
Index: []