In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [37]:
%%sql

TRUNCATE TABLE order_items, orders;

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
(psycopg2.errors.UndefinedTable) relation "orders" does not exist

[SQL: TRUNCATE TABLE order_items, orders;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [38]:
%%sql

ALTER TABLE order_items DROP CONSTRAINT order_items_order_item_order_id_fkey;
DROP TABLE orders;

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
(psycopg2.errors.UndefinedObject) constraint "order_items_order_item_order_id_fkey" of relation "order_items" does not exist

[SQL: ALTER TABLE order_items DROP CONSTRAINT order_items_order_item_order_id_fkey;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [39]:
%%sql

select * from orders limit 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
(psycopg2.errors.UndefinedTable) relation "orders" does not exist
LINE 1: select * from orders limit 10
                      ^

[SQL: select * from orders limit 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [40]:
%%sql

select * from order_items limit 10

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
0 rows affected.

[]

In [41]:
import pandas as pd

In [42]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [43]:
import json

In [44]:
file_path = '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/schemas.json'
schemas = json.load(open(file_path))

In [45]:
schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [46]:
orders_columns = get_column_names(schemas, 'orders')

In [47]:
orders_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [48]:
df = pd.read_csv('/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/orders/part-00000', names=orders_columns)
df.head()

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE

In [52]:
conn_url = 'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [53]:
df.to_sql(
    'orders',
    conn_url,
    if_exists='replace',
    index=False
)

883

In [55]:
pd.read_sql('orders',conn_url)

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]