In [2]:
%load_ext sql

In [3]:
%reload_ext sql

In [4]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [5]:
%%sql

TRUNCATE TABLE orders

Done.

[]

In [6]:
conn_url = 'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [7]:
import pandas as pd

In [8]:
# pd.read_csv

In [9]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [10]:
import json

In [11]:
file_path = '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/schemas.json'
schemas = json.load(open(file_path))

In [12]:
schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [13]:
ds_name = 'orders'

In [14]:
colums = get_column_names(schemas, 'orders')
colums

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [15]:
df = pd.read_csv(f'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/{ds_name}/part-00000', names=colums)
df.head()

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df_reader = pd.read_csv(
    f'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/{ds_name}/part-00000', 
    names=colums,
    chunksize=10000)

type(df_reader)

pandas.io.parsers.readers.TextFileReader

In [18]:
# for idx, df in enumerate(df_reader):
#     print(f'Processing chunk {idx} with size {df.shape[0]} row {df.shape[1]} of {ds_name}')
#     df.to_sql(
#         'orders',
#         conn_url,
#         if_exists='append',
#         index=False
#     )

In [19]:
pd.read_sql(ds_name, conn_url)

Empty DataFrame
Columns: [order_id, order_date, order_customer_id, order_status]
Index: []