In [1]:
%load_ext sql

In [2]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [3]:
%%sql

TRUNCATE TABLE orders;

Done.

[]

In [4]:
import pandas as pd

In [5]:
# pd.read_csv

In [6]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [7]:
import json

In [8]:
file_path = '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/schemas.json'
schemas = json.load(open(file_path))

In [9]:
schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [10]:
ds_name = 'orders'

In [11]:
colums = get_column_names(schemas, 'orders')
colums

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [12]:
df = pd.read_csv(f'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/{ds_name}/part-00000', names=colums)
df.head()

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df_reader = pd.read_csv(
    f'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/{ds_name}/part-00000', 
    names=colums,
    chunksize=10000)

In [15]:
type(df_reader)

pandas.io.parsers.readers.TextFileReader

In [16]:
df_list = list(df_reader)
df_list

[      order_id             order_date  order_customer_id     order_status
 0            1  2013-07-25 00:00:00.0              11599           CLOSED
 1            2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
 2            3  2013-07-25 00:00:00.0              12111         COMPLETE
 3            4  2013-07-25 00:00:00.0               8827           CLOSED
 4            5  2013-07-25 00:00:00.0              11318         COMPLETE
 ...        ...                    ...                ...              ...
 9995      9996  2013-09-25 00:00:00.0              11839          PENDING
 9996      9997  2013-09-25 00:00:00.0               3471  PENDING_PAYMENT
 9997      9998  2013-09-25 00:00:00.0               9419          PENDING
 9998      9999  2013-09-25 00:00:00.0               1185           CLOSED
 9999     10000  2013-09-25 00:00:00.0               8983       PROCESSING

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 10000     10001  2013-09-25 00:00:00.0                316  PENDING_PAYMENT
 10001     10002  2013-09-25 00:00:00.0               1530         COMPLETE
 10002     10003  2013-09-25 00:00:00.0               8099         COMPLETE
 10003     10004  2013-09-25 00:00:00.0               7768           CLOSED
 10004     10005  2013-09-25 00:00:00.0                541         COMPLETE
 ...         ...                    ...                ...              ...
 19995     19996  2013-11-25 00:00:00.0              11161  PENDING_PAYMENT
 19996     19997  2013-11-25 00:00:00.0               1920         COMPLETE
 19997     19998  2013-11-25 00:00:00.0              11672       PROCESSING
 19998     19999  2013-11-25 00:00:00.0              10014         COMPLETE
 19999     20000  2013-11-25 00:00:00.0                974  PENDING_PAYMENT

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 20000     20001  2013-11-25 00:00:00.0               4596          PENDING
 20001     20002  2013-11-25 00:00:00.0               5572  SUSPECTED_FRAUD
 20002     20003  2013-11-25 00:00:00.0               6126           CLOSED
 20003     20004  2013-11-25 00:00:00.0               2092          PENDING
 20004     20005  2013-11-25 00:00:00.0               4227       PROCESSING
 ...         ...                    ...                ...              ...
 29995     29996  2014-01-27 00:00:00.0               2203           CLOSED
 29996     29997  2014-01-27 00:00:00.0              10219          ON_HOLD
 29997     29998  2014-01-27 00:00:00.0               2301       PROCESSING
 29998     29999  2014-01-27 00:00:00.0               3914           CLOSED
 29999     30000  2014-01-27 00:00:00.0               9683  PENDING_PAYMENT

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 30000     30001  2014-01-27 00:00:00.0               5995  PENDING_PAYMENT
 30001     30002  2014-01-27 00:00:00.0              12034          ON_HOLD
 30002     30003  2014-01-27 00:00:00.0               2110           CLOSED
 30003     30004  2014-01-27 00:00:00.0               9237       PROCESSING
 30004     30005  2014-01-27 00:00:00.0               2313  PENDING_PAYMENT
 ...         ...                    ...                ...              ...
 39995     39996  2014-03-30 00:00:00.0               6203         COMPLETE
 39996     39997  2014-03-30 00:00:00.0               9336  PENDING_PAYMENT
 39997     39998  2014-03-30 00:00:00.0               8777  PENDING_PAYMENT
 39998     39999  2014-03-30 00:00:00.0               9039  PENDING_PAYMENT
 39999     40000  2014-03-30 00:00:00.0               7918         COMPLETE

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 40000     40001  2014-03-30 00:00:00.0               7525           CLOSED
 40001     40002  2014-03-30 00:00:00.0               5666       PROCESSING
 40002     40003  2014-03-30 00:00:00.0                954         COMPLETE
 40003     40004  2014-03-30 00:00:00.0               3181          PENDING
 40004     40005  2014-03-30 00:00:00.0               9153   PAYMENT_REVIEW
 ...         ...                    ...                ...              ...
 49995     49996  2014-06-02 00:00:00.0               1559  PENDING_PAYMENT
 49996     49997  2014-06-02 00:00:00.0               5764          PENDING
 49997     49998  2014-06-02 00:00:00.0              11045         COMPLETE
 49998     49999  2014-06-02 00:00:00.0               7061         COMPLETE
 49999     50000  2014-06-02 00:00:00.0               6827  PENDING_PAYMENT

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 50000     50001  2014-06-02 00:00:00.0              10731  PENDING_PAYMENT
 50001     50002  2014-06-02 00:00:00.0               8037         CANCELED
 50002     50003  2014-06-02 00:00:00.0               9410          PENDING
 50003     50004  2014-06-02 00:00:00.0               7897         COMPLETE
 50004     50005  2014-06-02 00:00:00.0               9216  PENDING_PAYMENT
 ...         ...                    ...                ...              ...
 59995     59996  2013-10-19 00:00:00.0               8127           CLOSED
 59996     59997  2013-10-19 00:00:00.0              11248           CLOSED
 59997     59998  2013-10-19 00:00:00.0               6063         COMPLETE
 59998     59999  2013-10-19 00:00:00.0              11070          PENDING
 59999     60000  2013-10-20 00:00:00.0              10699         COMPLETE

 [10000 rows x 4 columns],
        order_id             order_date  order_customer_id     order_status
 60000     60001  2013-10-20 00:00:00.0               1376         COMPLETE
 60001     60002  2013-10-20 00:00:00.0               6345  PENDING_PAYMENT
 60002     60003  2013-10-20 00:00:00.0                329       PROCESSING
 60003     60004  2013-10-20 00:00:00.0              10907          PENDING
 60004     60005  2013-10-20 00:00:00.0               5156         COMPLETE
 ...         ...                    ...                ...              ...
 68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
 68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
 68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
 68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
 68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

 [8883 rows x 4 columns]]

In [17]:
df_list[0]

      order_id             order_date  order_customer_id     order_status
0            1  2013-07-25 00:00:00.0              11599           CLOSED
1            2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2            3  2013-07-25 00:00:00.0              12111         COMPLETE
3            4  2013-07-25 00:00:00.0               8827           CLOSED
4            5  2013-07-25 00:00:00.0              11318         COMPLETE
...        ...                    ...                ...              ...
9995      9996  2013-09-25 00:00:00.0              11839          PENDING
9996      9997  2013-09-25 00:00:00.0               3471  PENDING_PAYMENT
9997      9998  2013-09-25 00:00:00.0               9419          PENDING
9998      9999  2013-09-25 00:00:00.0               1185           CLOSED
9999     10000  2013-09-25 00:00:00.0               8983       PROCESSING

[10000 rows x 4 columns]

In [18]:
df_list[1]

       order_id             order_date  order_customer_id     order_status
10000     10001  2013-09-25 00:00:00.0                316  PENDING_PAYMENT
10001     10002  2013-09-25 00:00:00.0               1530         COMPLETE
10002     10003  2013-09-25 00:00:00.0               8099         COMPLETE
10003     10004  2013-09-25 00:00:00.0               7768           CLOSED
10004     10005  2013-09-25 00:00:00.0                541         COMPLETE
...         ...                    ...                ...              ...
19995     19996  2013-11-25 00:00:00.0              11161  PENDING_PAYMENT
19996     19997  2013-11-25 00:00:00.0               1920         COMPLETE
19997     19998  2013-11-25 00:00:00.0              11672       PROCESSING
19998     19999  2013-11-25 00:00:00.0              10014         COMPLETE
19999     20000  2013-11-25 00:00:00.0                974  PENDING_PAYMENT

[10000 rows x 4 columns]

In [19]:
df_list[-1]

       order_id             order_date  order_customer_id     order_status
60000     60001  2013-10-20 00:00:00.0               1376         COMPLETE
60001     60002  2013-10-20 00:00:00.0               6345  PENDING_PAYMENT
60002     60003  2013-10-20 00:00:00.0                329       PROCESSING
60003     60004  2013-10-20 00:00:00.0              10907          PENDING
60004     60005  2013-10-20 00:00:00.0               5156         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[8883 rows x 4 columns]

# anothor one

In [20]:
df_reader = pd.read_csv(
    f'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/{ds_name}/part-00000', 
    names=colums,
    chunksize=10000)

In [21]:
for idx, df in enumerate(df_reader):
    print(f'Size of chunk {idx} is {df.shape}')

Size of chunk 0 is (10000, 4)
Size of chunk 1 is (10000, 4)
Size of chunk 2 is (10000, 4)
Size of chunk 3 is (10000, 4)
Size of chunk 4 is (10000, 4)
Size of chunk 5 is (10000, 4)
Size of chunk 6 is (8883, 4)