In [8]:
import json

In [9]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [10]:
file_path = '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/schemas.json'
schemas = json.load(open(file_path))

In [11]:
schemas.keys()

dict_keys(['departments', 'categories', 'orders', 'products', 'customers', 'order_items'])

In [12]:
orders_columns = get_column_names(schemas, 'orders')

In [13]:
orders_columns

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [16]:
import pandas as pd

In [17]:
orders = pd.read_csv('/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/orders/part-00000', names=orders_columns)
orders.head()

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE