In [1]:
import json

In [2]:
def get_column_names(schemas, ds_name, sorting_key='column_position'):
    column_details = schemas[ds_name]
    columns = sorted(column_details, key=lambda col: col[sorting_key])
    return [col['column_name'] for col in columns]

In [3]:
file_path = '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/schemas.json'
schemas = json.load(open(file_path))

In [4]:
import glob

In [11]:
src_file_names = glob.glob('/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/*/part*')
src_file_names

['/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/customers/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/products/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/departments/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/order_items/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/order_json/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/orders/part-00000',
 '/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/categories/part-00000']

In [12]:
import pandas as pd

In [13]:
s = 's/a\\b\\c'

In [14]:
s.split('\\')

['s/a', 'b', 'c']

In [15]:
import re

In [16]:
re.split('[/\\\]', s)

['s', 'a', 'b', 'c']

In [17]:
for file in src_file_names:
    print(re.split('[/\\\]', file))

['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'customers', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'products', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'departments', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'order_items', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'order_json', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'orders', 'part-00000']
['', 'Users', 'macintosh', 'Desktop', 'data_engineering_Esentials_using', 'data', 'retail_db', 'categories', 'part-00000']

In [18]:
file = src_file_names[0]
file

'/Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/customers/part-00000'

In [25]:
file_details = re.split('[/\\\]',file)[1:]
file_details

['Users',
 'macintosh',
 'Desktop',
 'data_engineering_Esentials_using',
 'data',
 'retail_db',
 'customers',
 'part-00000']

In [27]:
ds_name = file_details[-2]
ds_name

'customers'

In [29]:
columns = get_column_names(schemas, ds_name)
columns

['customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_password',
 'customer_street',
 'customer_city',
 'customer_state',
 'customer_zipcode']

In [30]:
import pandas as pd

In [32]:
df = pd.read_csv(file, names=columns)
df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [33]:
df.shape

(12435, 9)

In [34]:
for file in src_file_names:
    print(f'Processing {file}')
    ds_name = file_details[-2]
    columns = get_column_names(schemas, ds_name)
    df = pd.read_csv(file, names=columns)
    print(f'Shape of {ds_name} is {df.shape}')

Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/customers/part-00000
Shape of customers is (12435, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/products/part-00000
Shape of customers is (1345, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/departments/part-00000
Shape of customers is (6, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/order_items/part-00000
Shape of customers is (172198, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/order_json/part-00000
Shape of customers is (68883, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/orders/part-00000
Shape of customers is (68883, 9)
Processing /Users/macintosh/Desktop/data_engineering_Esentials_using/data/retail_db/categories/part-00000
Shape of customers is (58, 9)

In [36]:
df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,2,Football,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,Soccer,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2,Baseball & Softball,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,Basketball,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,Lacrosse,NaN,NaN,NaN,NaN,NaN,NaN